name: Python - test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.13

      - name: Update packaging tools
        run: python -m pip install --upgrade pip wheel setuptools build

      - name: Install dependencies
        run: python -m pip install --requirement venv-requirements.txt

      - name: Run tests
        run: python -m pytest --verbose --continue-on-collection-errors --doctest-modules cs/**/*_tests.py
